services:
  redistra:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: 3000
      DATABASE_URL: ./data/redis-ui.db
    volumes:
      - redistra-data:/app/data

volumes:
  redistra-data:
